@import url("./util.css");

.container {}

html{
    background-color: rgb(170, 174, 201);
}

main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.main-header {
    align-self: center;
}

.header {

    border-radius: 10px;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

ul {}

.subjects {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.subject {
    background-color: var(--shadow-bg);
    box-shadow: var(--shadow);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 400px;
    min-height: 200px;
}

button {

    cursor: pointer;
    padding: 5px 16px;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    vertical-align: middle;
    border: 1px solid;
    border-radius: 6px;
    color: white;
    background-color: #314150;
    border-color: #1b1f2326;
    box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px 0px inset;
    transition: 0.2s cubic-bezier(0.3, 0, 0.5, 1);
    transition-property: color, background-color, border-color;

}
button a {
    color: white;
}
button:hover{
    background-color: #64718d;
    border-color: #47576826;
    transition-duration: 0.1s;
}

.Liste{
    display: flex;
    gap: 1rem; 
}